<div class="container">
	<h1>Administration</h1>
	<h3>Ajout d'un nouveau pokemon</h3>
	<div class="form-group">
		<label>Numéro : </label>
		<input type="text" class="form-control" placeholder="125">
	</div>
	<div class="form-group">
		<label>Nom : </label>
		<input type="text" class="form-control" placeholder="Nom">
	</div>
	<div class="checkbox">
		<label><input type="checkbox">Capturé</label>
	</div>
	<div class="form-group">
		<label for="inputType1">Type 1 : </label>
		<select class="form-control">
			<option>Feu</option>
			<option>Eau</option>
			<option>Plante</option>
		</select>
	</div>
	<div class="form-group">
		<label for="inputType2">Type 2 : </label>
		<select class="form-control">
			<option>Feu</option>
			<option>Eau</option>
			<option>Plante</option>
		</select>
	</div>
	<div class="form-group">
		<label>Description : </label>
		<textarea class="form-control" rows="3" placeholder="Description du pokemon dans le pokedex"></textarea>
	</div>
	<div class="form-group">
		<label>Localisation : </label>
		<textarea class="form-control" rows="3" placeholder="Localisation du pokemon"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	</div>
</div>
