<div class="container">
	<h1>Pokedex National</h1>
	<table class="pokedexTable table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Capturé ?</th>
			</tr>
		</thead>
		<tbody>
			<tr class="button" ng-click="homeCtrl.showDetail(pokemon)" ng-repeat="pokemon in homeCtrl.pokedex | orderBy:'id'">
				<td>{{ pokemon.id }}</td>
				<td>{{ pokemon.name }}</td>
				<td>{{ pokemon.caught }}</td>
				<!-- <td class="action">
					<button ng-click="homeCtrl.showDetail(pokemon)">Détails</button>
				</td> -->
			</tr>
		</thead>
	</table>
</div>
